<footer id="footer " class="footer ">
    <section class="footer_container container">
        <div class="col_foot">
            <div class="">
                <h4>
                    Opriyatrade.in
                </h4>
                <ul class="footer_contact">
                    <li>
                        <a href="tel:9785641235">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            9785641235
                        </a>
                    </li>
                    <li>
                        <a href="mailto:9785641235">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            example@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="https://www.google.com/maps/place/Sector+V,+Bidhannagar,+Kolkata,+West+Bengal/@22.5763573,88.4252282,15z/data=!3m1!4b1!4m5!3m4!1s0x3a0275b020703c0d:0xece6f8e0fc2e1613!8m2!3d22.5735324!4d88.4331179" target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Kolkata Bidhannagar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_foot">
            <div class="">
                <h4>
                    Privacy Info
                </h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ base_url }}/index.php?route=web/information/information&information_id=3">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/index.php?route=web/information/information&information_id=5">
                            Terms & Conditions
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_foot">
            <div class="">
                <h4>
                    Opriyatrade Business
                </h4>
                <ul class="list-unstyled">
                    <li>
                        <a>
                            Shopping App
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/index.php?route=web/account/order">
                            Order History
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/index.php?route=web/account/account">
                            My Account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_foot">
            <div class="">
                <h4>
                    Need Help ?
                </h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/index.php?route=web/information/contact">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="{{ base_url }}/index.php?route=web/account/return/add">
                            Returns
                                            
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_foot">
            <div class="">
                <h4>
                    Opriyatrade is commited to protecting customer
                </h4>
                <img src="{{ assets }}images/jago.jpg" alt="">
                    <h4>
                        100% Secure & Trusted Payment
                    </h4>
                </div>
            </div>
        </section>
        <section class="footer_container container d-flex flex-column aic">
            <h4>
                Keep in touch
            </h4>
            <div class="socianicons">
                <span class="mr-3">
                    <i class="fa-brands fa-facebook-f"></i>
                </span>
                <span class="mr-3">
                    <i class="fa-brands fa-linkedin-in"></i>
                </span>
                <span class="mr-3">
                    <i class="fa-brands fa-instagram"></i>
                </span>
                <span class="mr-3">
                    <i class="fa-brands fa-google"></i>
                </span>
            </div>
        </section>
    </footer>
</div>
<!-- DIALOGS -->
<a id="etrostore-totop " href="# "></a>
<script type="text/javascript " src="{{ assets }}js/jquery/jquery.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/jquery/jquery-migrate.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/bootstrap.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/jquery/js.cookie.min.js "></script>
<!-- OPEN LIBS JS -->
<script type="text/javascript " src="{{ assets }}js/owl-carousel/owl.carousel.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/slick-1.6.0/slick.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/yith-woocommerce-compare/jquery.colorbox-min.js "></script>
<script type="text/javascript " src="{{ assets }}js/isotope/isotope.js "></script>
<script type="text/javascript " src="{{ assets }}js/fancybox/jquery.fancybox.pack.js "></script>
<script type="text/javascript " src="{{ assets }}js/sw_woocommerce/category-ajax.js "></script>
<script type="text/javascript " src="{{ assets }}js/sw_woocommerce/jquery.countdown.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/js_composer/js_composer_front.min.js "></script>
<script type="text/javascript " src="{{ assets }}js/plugins.js "></script>
<script type="text/javascript " src="{{ assets }}js/megamenu.min.js "></script>
{#<script type="text/javascript " src="{{assets}}js/main.min.js "></script>#}
<script type="text/javascript " src="{{ assets }}js/main.js "></script>
<script type="text/javascript " src="{{ assets }}js/custom.js "></script>
<!-- SATYA -->
<script src="https://cdn.ckeditor.com/4.8.0/full-all/ckeditor.js"></script>
<script type="text/javascript ">
		var sticky_navigation_offset_top = $("#header .header-bottom ").offset().top;
		var sticky_navigation = function () {
			var scroll_top = $(window).scrollTop();
			if (scroll_top > sticky_navigation_offset_top) {
				$("#header .header-bottom ").addClass("sticky-menu ");
				$("#header .header-bottom ").css({ "top ": 0, "left ": 0, "right ": 0 });
			} else {
				$("#header .header-bottom ").removeClass("sticky-menu ");
		}
		};
		sticky_navigation();
		$(window).scroll(function () {
			sticky_navigation();
		});

		$(document).ready(function () {
			$(".show-dropdown ").each(function () {
				$(this).on("click ", function () {
					$(this).toggleClass("show ");
			var $element = $(this).parent().find("> ul"); $element.toggle(300); }); }); });
</script></body></html>