{{ header }}
<div class="container" id="close_nav">
    <ul class="pts-breadcrumb breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item">
                <a href="{{ breadcrumb.href }}">
                    {{ breadcrumb.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% if error_warning %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-circle"></i>
            {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">
                &times;
                                                                                            
                                                                            
                                                            
                                            
                            
            </button>
        </div>
    {% endif %}
    <div class="section_dashboard_area">
        <div class="heading_area">
            <h1 class="dashboard_title">
                {{ heading_title }}
            </h1>
            <div class="toggle-button" id="toggle_btn">
                Seller Option
                            
            </div>
        </div>
        <div class="section_dashboard_one">
            <div class="section_dashboard_title">
                <h4>
                    {{ text_Seller_Account }}
                </h4>
            </div>
            <div class="section_tabs">
                <div class="tab_items">
                    <a href="{{ sellerorder }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="emojione-monotone:shopping-cart" flip="horizontal"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Orders }}
                        </h6>
                        {% if not totalorders == 0 %}
                            <span class="pts-counting-1">
                                {{ totalorders }}
                            </span>
                        {% endif %}
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ sellerenquiries }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="bxs:message-alt-dots"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_sellerenquiries }}
                        </h6>
                        {% if not totaladminmessages==0 %}
                            <span class="pts-counting-1">
                                {{ totaladminmessages }}
                            </span>
                        {% endif %}
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ sellerenquiry }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="ant-design:question-circle-filled"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Customer_Enquiries }}
                        </h6>
                        {% if not totalenqures==0 %}
                            <span class="pts-counting-1">
                                {{ totalenqures }}
                            </span>
                        {% endif %}
                    </a>
                </div>
                {% if subscriptionplan %}
                    <div class="tab_items">
                        <a href="{{ subscriptionplan }}" class="tab_flex">
                            <div class="tab_iocn">
                                <img src="https://cdn-icons-png.flaticon.com/512/3187/3187902.png" class="img_fixed img-responsive" />
                            </div>
                            <h6 class="tab_name mt-5">
                                {{ text_Subscription_plan }}
                            </h6>
                        </a>
                    </div>
                {% endif %}
                <div class="tab_items">
                    <a href="{{ sellerreview }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="carbon:review"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_reviews }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ downloadsitems }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="akar-icons:cloud-download"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Manage_Downloads }}
                        </h6>
                    </a>
                </div>
                <div></div>
            </div>
        </div>
        <hr/>
        <div class="section_dashboard_one">
            <div class="section_dashboard_title">
                <h4>
                    {{ text_Seller_Store }}
                </h4>
            </div>
            <div class="section_tabs">
                <div class="tab_items">
                    <a href="{{ sellerview }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="bx:store"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_View_Store }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ sellerstore }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="clarity:store-solid"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Store_information }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ sellerproduct }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="dashicons:products"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Manage_products }}
                        </h6>
                    </a>
                </div>
                {% if seller_blog_status %}
                    <div class="tab_items">
                        <a href="{{ sellerblogpost }}" class="tab_flex">
                            <div class="tab_iocn">
                                <iconify-icon icon="fa-solid:file-upload"></iconify-icon>
                            </div>
                            <h6 class="tab_name">
                                {{ text_blog_post }}
                            </h6>
                        </a>
                    </div>
                    <div class="tab_items">
                        <a href="{{ sellerblogcomment }}" class="tab_flex">
                            <div class="tab_iocn">
                                <iconify-icon icon="fa-solid:file-upload"></iconify-icon>
                            </div>
                            <h6 class="tab_name">
                                {{ text_blog_comment }}
                            </h6>
                        </a>
                    </div>
                {% endif %}
                {% if module_purpletree_multivendor_seller_product_template == 1 %}
                    <div class="tab_items">
                        <a href="{{ seller_template_product }}" class="tab_flex">
                            <div class="tab_iocn">
                                <iconify-icon icon="fa-solid:file-upload"></iconify-icon>
                            </div>
                            <h6 class="tab_name">
                                {{ text_seller_template_product }}
                            </h6>
                        </a>
                    </div>
                {% endif %}
                <div class="tab_items">
                    <a href="{{ bulkproductupload }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="fa-solid:file-upload"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Bulk_product_upload }}
                        </h6>
                    </a>
                </div>
                <div></div>
            </div>
        </div>
        <hr/>
        <div class="section_dashboard_one">
            <div class="section_dashboard_title">
                <h4>
                    {{ text_Seller_Payments }}
                </h4>
            </div>
            <div class="section_tabs">
                <div class="tab_items">
                    <a href="{{ sellerpayment }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="ic:baseline-payment"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Payments }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ sellercommission }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="la:percentage"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_Commisions }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ commissioninvoice }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="la:file-invoice-dollar"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_commissioninvoice }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ shipping }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="fa-solid:shipping-fast"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_shiiping_rate }}
                        </h6>
                    </a>
                </div>
                <div class="tab_items">
                    <a href="{{ seller_product_returns }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="fontisto:arrow-return-left"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_seller_returns }}
                        </h6>
                    </a>
                </div>
                {% if subscriptionplan %}
                    {% if subscriptions %}
                        <div class="tab_items">
                            <a href="{{ subscriptions }}" class="tab_flex">
                                <div class="tab_iocn">
                                    <iconify-icon icon="fontisto:arrow-return-left"></iconify-icon>
                                </div>
                                <h6 class="tab_name">
                                    {{ text_Subscription_Invoice }}
                                </h6>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="tab_items">
                    <a href="{{ sellercoupons }}" class="tab_flex">
                        <div class="tab_iocn">
                            <iconify-icon icon="bxs:coupon"></iconify-icon>
                        </div>
                        <h6 class="tab_name">
                            {{ text_sellercoupons }}
                        </h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#=====================side nav=====================#}
    <!--   SIDE NAV  -->
    <nav class="side-nav" id="sidenav">
        <ul class="has-text-centered">
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/dashboardicons">
                    Dashboard
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/dashboard">
                    Summary
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/account/edit">
                    Seller Profile
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerorder">
                    Orders
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerproduct">
                    Products
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerattribute">
                    Product Attributes
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerattributegroups">
                    Product Attributes Groups
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/selleroptions">
                    Product Options
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/product_returns">
                    Returns
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerstore">
                    Store Information
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerpayment">
                    Payments
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellercommission">
                    Commission
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/commissioninvoice">
                    Commission Invoices
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellercoupons">
                    Seller Coupons
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/shipping">
                    Shipping Rates
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/bulkproductupload">
                    Bulk Product Upload
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellercontact/sellercontactlist">
                    Customer Enquiries
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerenquiries">
                    Admin Messages
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/sellerstore/sellerreview">
                    My Reviews
                                    
                </a>
            </li>
            <li>
                <a href="{{ base_url }}index.php?route=web/extension/account/purpletree_multivendor/downloads">
                    Downloads
                                    
                </a>
            </li>
        </ul>
    </nav>
    {% if column_right %}
        {{ column_right }}
    {% endif %}
</div>
{{ footer }}
<script>

    const toggleButton = document.getElementById('toggle_btn');
    const sideNav = document.getElementById('sidenav');
  
document.onclick = function(e) {
if(e.target.id !== 'sideNav' && e.target.id !== 'toggle_btn')
{
sideNav.classList.remove('active');

}

}

toggleButton.onclick = function(){
sideNav.classList.toggle('active');

    }


  </script>
